*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(28, 44, 62);
    display: flex;
    
}

/* style generici */
.container{
    width: 40vw;
    height: 100vh;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.destination{
    width: 95%;
    height: 45%;
    margin: 20px auto ;
    position: relative;
    color: white;
}

.welcome{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .3);

}

.city{
    font-size: 30px;
    text-align: center;
}

.layover{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}

/* style specifici */

#dest-paris{
    background-image: url(./imagini/pexels-thorsten-technoman-338515.jpg);
    background-size: 100% 100%;

}

.destination:hover .welcome{
    background-color: rgba(0, 0, 0, .3);
    transition-duration: 0.5ms;
    
}

#dest-paris:hover{
    color: rgb(255, 255, 0);
    background-image: url(./imagini/pexels-pixabay-161901.jpg);
    background-size: 100% 100%;
    transition-duration: 1s;

}

#dest-madrid{
    background-image: url(./imagini/pexels-alex-azabache-3290070.jpg);
    background-size: 100% 100%;
    transition-duration: 1s;
}

#dest-madrid:hover{
    color: rgb(255, 251, 0);
    background-image: url(./imagini/pexels-jo-kassis-5522624.jpg);
    background-size: 100% 100%;

}

#dest-ny{
    background-image: url(./imagini/pexels-gabriel-hohol-3593948.jpg);
    background-size: 100% 100%;
    transition-duration: 1s;
}

#dest-ny:hover{
    color: rgb(255, 255, 0);
    background-image: url(./imagini/pexels-kai-pilger-534757.jpg);
    background-size: 100% 100%;

}

#dest-rio{
    background-image: url(./imagini/pexels-kash-ous-16808665.jpg);
    background-size: 100% 100%;
    transition-duration: 1s;
}

#dest-rio:hover{
    color: rgb(255, 255, 0);
    background-image: url(./imagini/pexels-joshua-woroniecki-2530501.jpg);
    background-size: 100% 100%;

}

#dest-nl{
    background-image: url(./imagini/pexels-shane-aldendorff-851039.jpg);
    background-size: 100% 100%;
    transition-duration: 1s;
}

#dest-nl:hover{
    color: rgb(255, 255, 0);
    background-image: url(./imagini/pexels-max-avans-5066417.jpg);
    background-size: 100% 100%;

}

#dest-berlin{
    background-image: url(./imagini/pexels-shvets-anna-2570063.jpg);
    background-size: 100% 100%;
    transition-duration: 1s;
}

#dest-berlin:hover{
    color: rgb(255, 255, 0);
    background-image: url(./imagini/pexels-levent-simsek-13009490.jpg);
    background-size: 100% 100%;
}

